body{
  background-color: lightblue!important;
}
.App{
  text-align: center;
}
.login{
  position: absolute;
  top:50%;
  left:50%;transform: translate(-50%,-50%);
  text-align: center;   
  align-items: center!important;
}
input{
  min-width:250px;
  margin:3%!important;
  padding:5px;
 font-size:17px;
 border-radius: 5px;
 border-width: 1px;
}
textarea {
  min-width: 250px;
}
.login-btn{
  min-width:250px;
  margin:4%;
  padding:5px;
 font-size:17px;
 border-radius: 5px;
 border-width: 1px;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 86%;
  margin:2% 7% 0 7%;
}

th {
  height: 50px;
  background-color:rgb(39, 130, 204)
}
